html {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	background-color: #F8F8F8;
}
#bg {
	position: fixed;
	height: 190%;
	width: 190%;
	background-color: #FFFFC2;
	background-image: url(logo.png);
	background-repeat: repeat;
	opacity: .7;
	-webkit-transition: top 1s, opacity .5s;
    transition: top 1s, opacity .5s;
}
a {
	text-decoration: none;
	color: #727272;
}
#circ {
	
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 350px;
	height: 350px;
	text-align: center;
	border-radius: 200px;
	background-color: #F8F8F8;
	border: 5px solid black;
	-webkit-transition: opacity 1s, top 1s;
    transition: opacity 1s, top 1s;
	display: flex;
}
#links {

	position: relative;
	width: 90%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
#d2ddetail {
	width: 73px;
	height: 122.75px;
	margin: auto;
}
#github {
	width: 250px;
	height: 102.5px;
	margin: auto;
}
#npm {
	width: 144px;
	height: 55.65px;
	margin: auto;
	margin-top: 25px;
}

.break {
	width: 300px;
	height: 1px;
	background-color: #F8F8F8;
	margin: auto;
	margin-top: 10px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 10%, rgba(0,0,0,0.97) 12%, rgba(0,0,0,0) 75%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 10%,rgba(0,0,0,0.97) 12%,rgba(0,0,0,0) 75%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 10%,rgba(0,0,0,0.97) 12%,rgba(0,0,0,0) 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}

#PROJECTS {
	width: 500px;
	height: 400px;
	position: fixed;
	text-align: center;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 48px;
	color: #161616;
	-webkit-transition: top 1s, opacity 2s;
    transition: top 1s, opacity 2s;
}
#INFO {
	width: 500px;
	height: 350px;
	position: fixed;
	text-align: center;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 48px;
	color: #161616;
}
#CONTACT {
	width: 500px;
	height: 400px;
	position: fixed;
	text-align: center;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 48px;
	color: #161616;
		-webkit-transition: top 1s, opacity 2s;
    transition: top 1s, opacity 2s;
}